
body{
    margin-top: 10px;
    width: 1000px;
}
.warning{
    color: red;
}
.tiny{
    font-size: smaller;
}

.pixel{
    width: 19px;
    height: 19px;
    margin-bottom: -4px;
    padding: 0;
    display: inline-table;


}